
@{
    ViewBag.Title = "Menu";
}

<body style="background-color:powderblue;">
</body>
<h2>Menu</h2>
<br />
<p><a class="btn btn-default" href="@Url.Action("CargarCat","QEQ")">Cargar categorias &raquo;</a></p>
<br />
<p><a class="btn btn-default" href="@Url.Action("CargarPers","QEQ")">Cargar personajes &raquo;</a></p>
<br />
<p><a class="btn btn-default" href="@Url.Action("CargarCarac","QEQ")">Cargar caracteristicas &raquo;</a></p>
<br />

